//roboto
@font-face {
  font-family: "Quicksand-Bold";
  src:
    url('/assets/fonts/quicksand/quicksand-bold/quicksandbold.ttf') format('truetype'),
    url('/assets/fonts/quicksand/quicksand-bold/quicksandbold.woff') format('woff'),
    url('/assets/fonts/quicksand/quicksand-bold/quicksandbold.woff2') format('woff2');
}

@font-face {
  font-family: "Quicksand-Italic";
  src:
    url('/assets/fonts/quicksand/quicksand-italic/quicksanditalic.ttf') format('truetype'),
    url('/assets/fonts/quicksand/quicksand-italic/quicksanditalic.woff') format('woff'),
    url('/assets/fonts/quicksand/quicksand-italic/quicksanditalic.woff2') format('woff2');
}

@font-face {
  font-family: "Quicksand-Light";
  src:
    url('/assets/fonts/quicksand/quicksand-light/quicksandlight.ttf') format('truetype'),
    url('/assets/fonts/quicksand/quicksand-light/quicksandlight.woff') format('woff'),
    url('/assets/fonts/quicksand/quicksand-light/quicksandlight.woff2') format('woff2');
}

@font-face {
  font-family: "Quicksand-Regular";
  src:
    url('/assets/fonts/quicksand/quicksand-regular/quicksandregular.ttf') format('truetype'),
    url('/assets/fonts/quicksand/quicksand-regular/quicksandregular.woff') format('woff'),
    url('/assets/fonts/quicksand/quicksand-regular/quicksandregular.woff2') format('woff2');
}

@font-face {
  font-family: "Montserrat";
  src:
    url('/assets/fonts/montserrat/montserrat.ttf') format('truetype'),
    url('/assets/fonts/montserrat/montserrat.woff') format('woff'),
    url('/assets/fonts/montserrat/montserrat.woff2') format('woff2');
}

@font-face {
  font-family: "Montserrat-Light";
  src:
    url('/assets/fonts/montserrat/montserrat-light/montserratlight.ttf') format('truetype'),
    url('/assets/fonts/montserrat/montserrat-light/montserratlight.woff') format('woff'),
    url('/assets/fonts/montserrat/montserrat-light/montserratlight.woff2') format('woff2');
}
