//colors
$shade-100: lighten(#1f2041, 0);
$shade-75: lighten(#1f2041, 25);
$shade-50: lighten(#1f2041, 50);
$shade-25: lighten(#1f2041, 75);
$shade-5: lighten(#1f2041, 95);
$purple: #bc9cff;
$green: #6fcf97;

//fonts
$h1-item: "Montserrat-Light", serif;
$h1-desc: "Quicksand-Bold", serif;
$h1-size: 150%;
$h2-item: "Montserrat-Light", serif;
$h2-desc: "Quicksand-Bold", serif;
$h2-size: 120%;
$h3-item: "Montserrat-Light", serif;
$h3-desc: "Quicksand-Bold", serif;
$h3-size: 80%;
$body-item: "Montserrat-Light", serif;
$body-desc: "Montserrat-Light", serif;
$body-size: 90%;
