@import "fonts";
@import "vars";
@import "mixins";

.wrapper {
  grid-template-columns: 4fr 80% 4fr;
  background-color: $backGroundColor;
}

.cards__main {
  grid-column: 2/3;
  justify-self: start;
  @include media(margin, 72px, 110px, 72px, 110px);
  display: grid;
  grid-template-areas:
    "left middle right";
  grid-template-columns: 2fr 2fr 2fr;
  @include media(grid-column-gap, 40px);
}

.find {
  grid-area: left;
  @include media(width, 380px);
  @include media(height, 374px);
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  //padding: 1%;
}

.find__content {
  //@include media(width, 320px);
  //@include media(width, 340px);
  padding: 7.6%;
}

.find__head {
  @include media(margin-top, 12px);
  font-family: $formTitleFont;
  @include media(font-size, 23px);
  @include media(line-height, 30px);
  color: $formColorGrey;
}

.find__dates {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include media(margin-top, 17px);
}

.date__arrival {
  @include media(width, 150px);
  @include form-drop(
  $_titleFotnSize: $dropTitleFotnSize,
  $_descFontSize: $dropDescFontSize,
  $_formFontSize: $dropFormFontSize,
  $_menuFontSize: $dropMenuFontSize,
  $_formFontColor: $formColorGrey75,
  $_menuColor: $formColorGrey5,
  );
}

.date__departure {
  justify-self: end;
  @include media(width, 150px);
  @include form-drop(
  $_titleFotnSize: $dropTitleFotnSize,
  $_descFontSize: $dropDescFontSize,
  $_formFontSize: $dropFormFontSize,
  $_menuFontSize: $dropMenuFontSize,
  $_formFontColor: $formColorGrey75,
  $_menuColor: $formColorGrey5,
  );
}


.find__guests {
  @include media(margin-top, 18px);
  @include form-drop(
  $_titleFotnSize: $dropTitleFotnSize,
  $_descFontSize: $dropDescFontSize,
  $_formFontSize: $dropFormFontSize,
  $_menuFontSize: $dropMenuFontSize,
  $_formFontColor: $formColorGrey75,
  $_menuColor: $formColorGrey5,
  );
}

.find__button {
  @include media(margin-top, 31px);
  @include button;
}

.booking {
  grid-area: middle;
  @include media(width, 380px);
  @include media(height, 511px);
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  @include media(padding, 40px, 29px, 40px, 29px)
}

.booking__head {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.head__number {
  font-family: $formTitleFont;
  font-weight: bold;
  @include media(font-size, 14px);
  @include media(line-height, 30px);
  color: $formColorGrey;
  span.height {
    @include media(font-size, 22px);
  }
  span.color {
    color: $colorFontGrad;
    text-transform: uppercase;
    @include media(font-size, 12px);
  }
}

.head__price {
  justify-self: end;
  align-self: center;
  font-family: $formFont;
  @include media(font-size, 13px);
  font-weight: bold;
  @include media(line-height, 22px);
  color: $formColorGrey5;
  span {
    font-weight: lighter;
  }
}

.booking__dates {
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin-top: 4.2%;
}

.booking__arrival {
  @include form-drop;
  @include media(width, 150px);
}

.booking__departure {
  @include form-drop;
  justify-self: end;
  @include media(width, 150px);
}

.booking__guests {
  @include media(margin-top, 19px);
  @include form-drop;
}

.booking__invoice {
  @include media(margin-top, 18px);
  font-family: $formFont;
  display: grid;
  grid-template-columns: 2fr 8% 22%;
  grid-row-gap: 22%;
  @include media(font-size, 14px);
  @include media(line-height, 18px);
  box-sizing: border-box;
  .border {
    border: 1px solid $formColorGrey25;
    border-radius: 50%;
    @include media(width, 17px);
    @include media(height, 17px);
    display: grid;
    justify-items: center;
    align-items: center;
    color: $formColorGrey25;
  }
  .right {
    justify-self: end;
  }
}

.booking__total {
  @include media(margin-top, 65px);
  display: grid;
  grid-template-columns: 2fr 2fr;
  color: $formColorGrey;
  font-family: $formTitleFont;
  .total__text {
    @include media(font-size, 18px);
  }
  .total__value {
    font-family: "Montserrat-SemiBold", serif;
    justify-self: end;
  }
}

.booking__button {
  @include media(margin-top, 20px);
  @include button;
}

.calendar {
  @include media(width, 320px);
  @include media(height, 369px);
  grid-area: right;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  box-sizing: border-box;
  @include media(padding, 20px, 20px, 20px, 20px);
}

.calendar__head {
  display: grid;
  @include media(grid-template-columns, 24px, 2fr, 24px);
  width: 100%;
  justify-items: center;
  .head__item {
    font-family: "Material Icons";
    @include media(font-size, 24px);
    color: #BC9CFF;
  }
  .head__item-text {
    font-family: $formTitleFont;
    @include media(font-size, 18px);
  }
}

.calendar__content-weeks {
  @include media(margin-top, 30px);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  @include media(font-size, 12px);
  font-family: "Montserrat-Bold";
  justify-items: center;
}

.calendar__content-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  @include media(font-size, 12px);
  @include media(line-height, 16px);
  justify-items: center;
  align-items: center;
  p:nth-child(11) {
    background: $sliderColor;
    border-radius: 50%;
    @include media(width, 40px);
    @include media(height, 40px);
    margin: 0;
    display: grid;
    align-items: center;
    justify-items: center;
    color: white;
  }
  p:nth-child(22), p:nth-child(26) {
    background: $colorGrad;
    @include media(width, 40px);
    @include media(height, 40px);
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 0;
    color: white;
  }
  .light {
    color: $formColorGrey25;
  }
}

.calendar__slider {
  background: $colorGrad;
  @include media(height, 40px);
  @include media(width, 160px);
  opacity: 0.25;
  margin: -80px 0 0 20px;
}

.calendar__decision {
  display: grid;
  grid-template-columns: 2fr 2fr;
  @include media(margin-top, 56px);
  .decision-clear {
    color: $formColorGrey5;
    font-family: $formTitleFont;
    @include media(font-size, 14px);
  }
  .decision-apply {
    color: $colorFontGrad;
    font-family: $formTitleFont;
    @include media(font-size, 14px);
    justify-self: end;
  }
}

.registration {
  @include media(width, 380px);
  @include media(height, 646px);
  grid-area: left;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.12);
  border-radius: 4px;
  box-sizing: border-box;
  border-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  @include media(padding, 40px, 30px, 40px, 30px);
  @include media(margin-top, 412px);
}

.registration__head {
  font-family: $formTitleFont;
  @include media(font-size, 23px);
  color: $formColorGrey;
}

.registration__form-name {
  @include form-drop(
  $_formFontColor: $formColorGrey25,
  );
  @include media(margin-top, 22px);
}

.registration__form-surname {
  @include form-drop(
  $_formFontColor: $formColorGrey25,
  );
  @include media(margin-top, 11px);
}

.registration__check {
  display: grid;
  grid-template-columns: 1.5fr 4fr 1.5fr 8fr;
}

.registration__check-icon {
  border: 1px solid;
}
