@import "../mixins/media";
@import "../mixins/form_drop";
@import "../mixins/buttons";

@mixin card__style-shadow(
  $_shadow: (0 0 25px rgba(0, 0, 0, 0.2)),
) {
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.12);
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: $_shadow;
  @include media(padding, 40px, 30px, 40px, 30px);
}

@mixin card__find(
  $_cardHeadFont: ("Montserrat-Bold", serif),
  $_cardHeadColor:#1f2041,
  $_dropTitleFotnSize: 12px,
  $_dropDescFontSize: 12px,
  $_dropFormFontSize: 14px,
  $_dropMenuFontSize: 24px,
  $_formFontColor: rgba(31, 32, 65, 7.5),
  $_menuColor: rgba(31, 32, 65, 0.5),
) {
  .find {
    @include media(width, 380px);
    @include media(height, 374px);
    @include card__style-shadow;
    //padding: 1%;
  }

  .find__head {
    font-family: $_cardHeadFont;
    @include media(font-size, 23px);
    @include media(line-height, 30px);
    color: $_cardHeadColor;
  }

  .find__dates {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include media(margin-top, 17px);
  }

  .date__arrival {
    @include media(width, 150px);
    @include form-drop(
    $_titleFotnSize: $_dropTitleFotnSize,
    $_descFontSize: $_dropDescFontSize,
    $_formFontSize: $_dropFormFontSize,
    $_menuFontSize: $_dropMenuFontSize,
    $_formFontColor: $_formFontColor,
    $_menuColor: $_menuColor,
    );
  }

  .date__departure {
    justify-self: end;
    @include media(width, 150px);
    @include form-drop(
    $_titleFotnSize: $_dropTitleFotnSize,
    $_descFontSize: $_dropDescFontSize,
    $_formFontSize: $_dropFormFontSize,
    $_menuFontSize: $_dropMenuFontSize,
    $_formFontColor: $_formFontColor,
    $_menuColor: $_menuColor,
    );
  }


  .find__guests {
    @include media(margin-top, 18px);
    @include form-drop(
    $_titleFotnSize: $_dropTitleFotnSize,
    $_descFontSize: $_dropDescFontSize,
    $_formFontSize: $_dropFormFontSize,
    $_menuFontSize: $_dropMenuFontSize,
    $_formFontColor: $_formFontColor,
    $_menuColor: $_menuColor,
    );
  }

  .find__button {
    @include media(margin-top, 31px);
    @include button;
  }
}


@mixin card__booking(
  $_headNumberFont: ("Montserrat-Bold", serif),
  $_headNumberColor: #1f2041,
  $_headNumberFontColor: #bc9cff,
  $_headPriceFont: ("Montserrat-Light", serif),
  $_headPriceFontColor: rgba(31, 32, 65, 0.5),
  $_invoiceFont: ("Montserrat-Light", serif),
  $_invoiceBorderColor: rgba(31, 32, 65, 0.25),
  $_totalFontColor: #1f2041,
  $_totalFont: ("Montserrat-Bold", serif),
) {
  .booking {
    @include media(width, 380px);
    @include media(height, 511px);
    @include card__style-shadow;
  }

  .booking__head {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }

  .head__number {
    font-family: $_headNumberFont;
    font-weight: bold;
    @include media(font-size, 14px);
    @include media(line-height, 30px);
    color: $_headNumberColor;
    span.height {
      @include media(font-size, 22px);
    }
    span.color {
      color: $_headNumberFontColor;
      text-transform: uppercase;
      @include media(font-size, 12px);
    }
  }

  .head__price {
    justify-self: end;
    align-self: center;
    font-family: $_headPriceFont;
    @include media(font-size, 13px);
    font-weight: bold;
    @include media(line-height, 22px);
    color: $_headPriceFontColor;
    span {
      font-weight: lighter;
    }
  }

  .booking__dates {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-top: 4.2%;
  }

  .booking__arrival {
    @include form-drop;
    @include media(width, 150px);
  }

  .booking__departure {
    @include form-drop;
    justify-self: end;
    @include media(width, 150px);
  }

  .booking__guests {
    @include media(margin-top, 19px);
    @include form-drop;
  }

  .booking__invoice {
    @include media(margin-top, 18px);
    font-family: $_invoiceFont;
    display: grid;
    grid-template-columns: 2fr 8% 22%;
    grid-row-gap: 22%;
    @include media(font-size, 14px);
    @include media(line-height, 18px);
    box-sizing: border-box;
    .border {
      border: 1px solid $_invoiceBorderColor;
      border-radius: 50%;
      @include media(width, 17px);
      @include media(height, 17px);
      display: grid;
      justify-items: center;
      align-items: center;
      color: $_invoiceBorderColor;
    }
    .right {
      justify-self: end;
    }
  }

  .booking__total {
    @include media(margin-top, 65px);
    display: grid;
    grid-template-columns: 2fr 2fr;
    color: $_totalFontColor;
    font-family: $_totalFont;
    .total__text {
      @include media(font-size, 18px);
    }
    .total__value {
      font-family: "Montserrat-SemiBold", serif;
      justify-self: end;
    }
  }

  .booking__button {
    @include media(margin-top, 20px);
    @include button;
  }
}


@mixin card__calendar(
  $_headFont: ("Montserrat-Bold", serif),
  $_weeksFont: ("Montserrat-Bold", serif),
  $_todayColor: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%),
  $_selectedDaysColor: linear-gradient(180deg, rgba(188, 156, 255, 1) 0%, rgba(139, 164, 249, 1) 100%),
  $_daysHoverColor: linear-gradient(180deg, rgba(188, 156, 255, 0.4) 0%, rgba(139, 164, 249, 0.1) 100%),
  $_lightDaysColor: rgba(31, 32, 65, 0.25),
  $_daysSliderColor: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%),
  $_selectedDaysRangeColor: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%),
  $_clearFont: ("Montserrat-Bold", serif),
  $_clearFontColor: rgba(31, 32, 65, 0.5),
  $_clearHoverColor: linear-gradient(180deg, rgba(188, 156, 255, 0.15) 0%, rgba(139, 164, 249, 0.15) 100%),
  $_applyFont: ("Montserrat-Bold", serif),
  $_applyFontColor: #bc9cff,
) {
  .calendar {
    @include media(width, 320px);
    @include media(height, 369px);
    @include card__style-shadow($_shadow: 0);
    @include media(padding, 20px, 20px, 20px, 20px);
  }

  .calendar__head {
    display: grid;
    @include media(grid-template-columns, 24px, 2fr, 24px);
    width: 100%;
    justify-items: center;
    .head__item {
      font-family: "Material Icons";
      @include media(font-size, 24px);
      color: #BC9CFF;
      //cursor: default;
      &:hover {
        cursor: default;
        opacity: 0.5;
      }
    }
    .head__item-text {
      font-family: $_headFont;
      @include media(font-size, 18px);
    }
  }

  .calendar__content-weeks {
    @include media(margin-top, 28px);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    @include media(font-size, 12px);
    font-family: $_weeksFont;
    justify-items: center;
  }

  .calendar__content-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    @include media(font-size, 12px);
    @include media(line-height, 16px);
    justify-items: center;
    align-items: center;
    .dayCont {
      p {
        @include media(width, 40px);
        @include media(height, 40px);
        margin: 0;
        display: grid;
        align-items: center;
        justify-items: center;
      }
      p.today { //p:nth-child(11)
        background: $_todayColor;
        border-radius: 50%;
        @include media(width, 40px);
        @include media(height, 40px);
        margin: 0;
        display: grid;
        align-items: center;
        justify-items: center;
        color: white;
      }
      p.checked {
        background: $_selectedDaysColor;
        @include media(width, 39px);
        @include media(height, 39px);
        border-radius: 50%;
        display: grid;
        align-items: center;
        justify-items: center;
        margin: 0;
        color: white;
        &:hover {
          background: $_selectedDaysColor;
        }
      }
      p:hover {
        background: $_daysHoverColor;
        @include media(width, 40px);
        @include media(height, 40px);
        border-radius: 50%;
        display: grid;
        align-items: center;
        justify-items: center;
        margin: 0;
        //color: white;
      }
      &.light {
        color: $_lightDaysColor;
      }
      &.slider {
        background: $_daysSliderColor;
        @include media(width, 40px);
        @include media(height, 40px);
        display: grid;
        align-items: center;
        justify-items: center;
        margin: 0;
      }
    }
  }

  .calendar__slider {
    background: $_selectedDaysRangeColor;
    @include media(height, 40px);
    @include media(width, 160px);
    opacity: 0.25;
    margin: -106px 0 0 20px;
  }

  .calendar__decision {
    display: grid;
    grid-template-columns: 2fr 2fr;
    @include media(margin-top, 21px);
    cursor: default;
    .decision-clear {
      color: $_clearFontColor;
      font-family: $_clearFont;
      @include media(font-size, 14px);
      &:hover {
        background: $_clearHoverColor;
      }
    }
    .decision-apply {
      color: $_applyFontColor;
      font-family: $_applyFont;
      @include media(font-size, 14px);
      justify-self: end;
      &:hover {
        background: $_clearHoverColor;
      }
    }
  }
}


@mixin card__registration(
  $_headFont: ("Montserrat-Bold", serif),
  $_headFontColor: #1f2041,
  $_formFontColor: rgba(31, 32, 65, 0.25),
  $_regCheckIconColor: rgba(31, 32, 65, 0.25),
  $_regCheckedBordColor: #bc9cff,
  $_regCheckedDGColor: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%),
  $_regCheckTextFont: ("Montserrat-Light", serif),
  $_regCheckTextFontColor: rgba(31, 32, 65, 0.5),
  $_regCheckedTextFontColor: rgba(31, 32, 65, 0.75),
  $_formFontColor: rgba(31, 32, 65, 0.25),
  $_toggleColor: rgba(31, 32, 65, 0.25),
  $_toggleFont: ("Montserrat-Light", serif),
  $_toggleFontColor: rgba(31, 32, 65, 0.75),
  $_enterInfoFont: ("Montserrat-Light", serif),
  $_enterInfoFontColor: rgba(31, 32, 65, 0.75),
){
  .registration {
    @include media(width, 380px);
    @include media(height, 646px);
    @include card__style-shadow;
  }

  .registration__head {
    font-family: $_headFont;
    @include media(font-size, 23px);
    color: $_headFontColor;
  }

  .registration__form-name {
    @include form-drop(
    $_formFontColor: $_formFontColor,
    );
    @include media(margin-top, 22px);
  }

  .registration__form-surname {
    @include form-drop(
    $_formFontColor: $_formFontColor,
    );
    @include media(margin-top, 11px);
  }

  .registration__check {
    display: grid;
    grid-template-columns: 1.5fr 4fr 1.5fr 8fr;
    margin-top: 3%;
  }

  .registration__check-icon {
    border: 1px solid $_regCheckIconColor;
    border-radius: 50%;
    box-sizing: border-box;
    @include media(width, 20px);
    @include media(height, 20px);
    padding: 9.5%;
    &.checked {
      border-color: $_regCheckedBordColor;
      background: $_regCheckedDGColor;
      -webkit-background-clip: content-box;
    }
  }


  .registration__check-text {
    font-family: $_regCheckTextFont;
    text-transform: capitalize;
    @include media(font-size, 14px);
    color: $_regCheckTextFontColor;
    &.checked {
      color: $_regCheckedTextFontColor;
    }
  }
  .registration__birthday {
    @include media(margin-top, 20px);
    @include form-drop(
      $_formFontColor: $_formFontColor,
    );
  }
  .registration__enter__data {
    @include media(margin-top, 20px);
    @include form-drop(
      $_formFontColor: $_formFontColor,
    );
  }
  .registration__pass {
    @include media(margin-top, 10px);
    @include form-drop(
      $_formFontColor: $_formFontColor,
    );
  }
  .registration__offers {
    @include media(margin-top, 8px);
    display: grid;
    grid-template-columns: 2fr 11fr;
    align-items: center;
    .offers__toggle {
      border: 1px solid $_toggleColor;
      border-radius: 10px;
      @include media(width, 38px);
      @include media(height, 18px);
      display: grid;
      align-items: center;
      .offers__toggle-item {
        @include media(width, 12px);
        @include media(height, 12px);
        border-radius: 50%;
        background: $_toggleColor;
        margin-left: 10%;
      }
    }
    .offers__text {
      font-family: $_toggleFont;
      @include media(font-size, 14px);
      color: $_toggleFontColor;
    }
  }
  .registration__button__pay {
    @include media(margin-top, 25px);
    @include button;
  }
  .registration__enter{
    display: grid;
    grid-template-columns: 4fr 1.8fr;
    margin-top: 9.7%;
    align-items: center;
    .registration__enter__info {
      font-family: $_enterInfoFont;
      @include media(font-size, 14.2px);
      color: $_enterInfoFontColor;
    }
    .registration__enter__btn {
      @include button;
    }
  }
}


@mixin card__enter(
  $_headFont: ("Montserrat-Bold", serif),
  $_headFontColor: rgba(31, 32, 65, 1),
  $_formFontColor: rgba(31, 32, 65, 0.25),
  $_infoFont: ("Montserrat-Light", serif),
  $_infoFontColor: black,
) {
  .enter {
    @include media(width, 380px);
    @include media(height, 358px);
    @include card__style-shadow;
  }
  .enter__head {
    font-family: $_headFont;
    @include media(font-size, 23px);
    color: $_headFontColor;
  }
  .enter__form-email {
    @include media(margin-top, 20px);
    @include form-drop(
      $_formFontColor: $_formFontColor,
    );
  }
  .enter__form-pass {
    @include media(margin-top, 12px);
    @include form-drop(
    $_formFontColor: $_formFontColor,
    );
  }
  .enter__btn-enter {
    @include media(margin-top, 20px);
    @include button;
  }
  .enter__accaunt {
    margin-top: 9%;
    display: grid;
    grid-template-columns: 5fr 2.2fr;
    align-items: center;
    .accaunt__info {
      font-family: $_infoFont;
      @include media(font-size, 14px);
      color: $_infoFontColor;
    }
    .accaunt__btn-create {
      @include button;
    }
  }
}


@mixin card__show__room(
  $_sliderIMG: "/assets/img/888.png",
  $_borderRadius: 5px,
  $_shadow: (0px 5px 10px -4px rgba(0, 0, 0, 0.2)),
  $_backgroundColor: #ffffff,
){
  .show__room {
    //@include media(width, 270px);
    //@include media(height, 260px);
    width: 100%;
    height: 100%;
    @include media(border-radius, $_borderRadius);
    border: 1px solid rgba(31, 32, 65, 0.12);
    overflow:hidden;

    background: $_backgroundColor;
    box-sizing: border-box;
    box-shadow: $_shadow;
  }
  .room__slider {
    //background: url($_sliderIMG) no-repeat;
    width: 100%;
    height: 60%;
    display: grid;
    grid-template-areas: "left . right";
    @include media(grid-template-columns, 44px, 2fr, 44px);
    align-items: center;
    //overflow:hidden;
  }
  .img__conteiner {
    align-self: center;
    justify-self: center;
    grid-column: 1/4;
    grid-row: 1/1;
    height: 100%;
    overflow: hidden;
    //width: 100%;
    img{
      height: 100%;
    }
  }
  .slider__btn {
    font-family: "Material Icons";
    @include media(font-size, 24px);
    height: 100%;
    width: 100%;
    color: white;
    display: grid;
    align-items: center;
    border: none;
    position: relative;
    //justify-items: center;
    //transform: matrix(-1, 0, 0, 1, 0, 0);
    &.left {
      grid-area: left;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
    }
    &.right {
      grid-area: right;
      background: linear-gradient(270deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
    }
  }
  .slider__status {
    grid-row: 1/1;
    grid-column: 1/4;
    width: 17%;
    height: 15%;
    margin-right: 3%;
    justify-self: end;
    align-self: end;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .round {
      @include media(width, 7.5px);
      @include media(height, 7.5px);
      border: 1px solid white;
      box-sizing: border-box;
      box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
      border-radius: 50%;
      &.filled {
        background-color: white;
      }
    }
  }

  .room__info {
    margin: 7% 6% 3% 7%;
  }
  .room__info__main {
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;

  }
  .room__info-number {
    font-family: "Montserrat-SemiBold", serif;
    @include media(font-size, 14px);
    color: #1F2041;
    span:nth-child(1) {
      @include media(font-size, 17px);
    }
    span:nth-child(2) {
      color: #bc9cff;
      @include media(font-size, 16px);
    }
  }
  .room__info-price {
    justify-self: end;
    font-family: "Montserrat-Bold", serif;
    @include media(font-size, 14px);
    color: rgba(31, 32, 65, 0.5);
    span {
      font-family: "Montserrat-Light", serif;
      @include media(font-size, 12px);
    }
  }
  .room__info-line {
    background: rgba(31, 32, 65, 0.1);
    height: 1px;
    margin-top: 5%;
  }
  .room__grade {
    display: grid;
    grid-template-columns: 2.2fr 2fr;
    align-items: center;
    margin-top: 4%;
  }
  .room__grade__rating {
    font-family: "Material Icons";
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    -webkit-background-clip: text;
    color: transparent;
    @include media(font-size, 24px);
    .item {
      float: left;
    }
  }
  .room__grade__review {
    @include media(font-size, 14px);
    justify-self: end;
    font-family: "Montserrat-Bold", serif;
    @include media(font-size, 15px);
    color: rgba(31, 32, 65, 0.5);
    span {
      font-family: "Montserrat-Light", serif;
    }
  }
}
