extends ../layout/main
include ../includes/mixins/form-elements

block variables
  - var currentURL = 'form-elements.html';
  - var title = 'Form Elements';

block content
  .formElements
    .forms
      .light
        +commonForm('TEXT FIELD', desc= 'DEFAULT', cont= 'Email')
      +commonForm('TEST FIELD', 'HOVER/FOCUS', 'This is pretty awesome')
      +formMenu('DROPDOWN', 'DEFAULT', 'Сколько гостей', 'keyboard_arrow_down')
      .light
        +commonForm('MASKED TEXT FIELD', 'DEFAULT', 'ДД.ММ.ГГГГ')
      .mini
        +formMenu('DATE DROPDOWN', '', 'ДД.ММ.ГГГГ', 'keyboard_arrow_down')
        +formMenu('DATE DROPDOWN', '', '19.08.2019', 'expand_more')
      .form75
        +formMenu('FILTER DATE DROPDOWN', '', '19 авг-23 авг', 'keyboard_arrow_down')
        .sub
          +formMenu('SUBSCIPTION TEXT DROPDOWN', '', 'Email', 'arrow_forward')
        +formMenu('DROPDOWN', 'DEFAULT', '2 спальни, 2 кровати...', 'expand_more')
        .dropCont
          +formMenu('dropdown', 'EXPANDED', '2 спальни, 2 кровати...', 'expand_more')
            hr
            +drop('спальни', '2')
            +drop('кровати', '2')
            .light
              +drop('ванные комнаты', '0')
        .checkList
          +formMenu('', '', 'EXPANDABLE CHECKBOX LIST', 'expand_more')
          +formMenu('', '', 'EXPANDABLE CHECKBOX LIST', 'expand_less')
            .checkContent
              +checkItem('Завтрак')
              +checkedItem('Письменный стол')
              +checkedItem('Стул для кормления')
              +checkedItem('Кроватка')
              +checkItem('Телевизор')
              +checkItem('Шампунь')
              +checkItem('Телевизор')
              +checkItem('Шампунь')
        +addition('mood', 'Комфорт', 'Шумопоглощающие стены')
        +addition('location_city', 'Удобство', 'Окно в каждой из спален')
        
          
    .buttons
      .checkList
        +formMenu('', '', 'CHECKBOX BUTTONS', '')
          .checkContent
            +checkItem('Можно курить')
            +checkedItem('Можно с питомцами')
            +checkedItem('Можно пригласить гостей (до 10 человек)')
      .radioButtons
        +formHead('RADIO BUTTONS')
        .radioItems
          .checked
            +radioItem('radio_button_checked', 'Мужчина')
          +radioItem('radio_button_unchecked', 'Женщина')
      .toggleButtons
        +formHead('TOGGLE')
        .toggleItems
          .checked
            +toggleItem('Получать спецпредложения')
          +toggleItem('Получать спецпредложения')
      .likeButtons
        +formHead('LIKE BUTTON')
        .likeItems
          +likeItem('favorite_border', '2')
          .liked
            +likeItem('favorite', '12')
      .rateButtons
        +formHead('RATE BUTTON')
        .rateContent
          +rateItem(4, 1)
          +rateItem(5)
        

    .sliders
      .rangeSliders
        +formHead('range slider', '5 000Р - 10 000Р')
        .sliderContent
          +slider 
      .buttons 
        +formHead('buttons')
        .buttonsContent
          .button
            .dark click me
            .light click me
            .borderDark click me
            .borderLight click me
          
    
