extends ../layout/main2

block variables
  - var title = 'My first staps in pug';
  - var description = 'Descriptions for my first staps';
  - var pageClass = 'index-page';
  - var currentURL = 'index.html'

  
append links
  style
    :scss
      ul.new_list {
        list-style: none;
        li {
          color: blue;
        }
      }
      a.active {
        color: black;
      }
    
      

block content
  section
    .container
      h1 It's my first staps in Pug
      p Hello!!!
    #container.col
      p You are amazing
      p
        | Jade is a terse and simple
        | templating language with a
        | strong focus on performance
        | and powerful features.
      ul.new_list
        li first
        li second

    section
      .container
        +item('New title from mixin', 'My mixin\'s description')


  block sctipt
    example-component
