extends ../layout/mainPages

block variables
	- var currentURL = 'reactFirstSteps.html';
	- var title = 'My first steps in react';

block content

	.react-element

	.react-next-element
	.react-timer-element
	.react-udemy-first-step

	a(href = 'reactUdemyFirstStep.html') react udemy first step