//roboto
@font-face {
  font-family: "Roboto-light-italic";
  src: url('/assets/fonts/roboto/light/italic/Robotolightitalic.woff') format('woff'),
        url('/assets/fonts/roboto/light/italic/Robotolightitalic.ttf') format('truetype'),
        url('/assets/fonts/roboto/light/italic/Robotolightitalic.woff') format('woff2');
}
@font-face {
  font-family: "Roboto-thin";
  src: url('/assets/fonts/roboto/thin/Robotothin.woff') format('woff'),
        url('/assets/fonts/roboto/thin/Robotothin.ttf') format('truetype'),
        url('/assets/fonts/roboto/thin/Robotothin.woff2') format('woff2');
}
