//fonts
$mainFont : 'Roboto-thin', Helvetica, Arial, sans-serif;
$backGroundColor: white;
//sizes
$mainFontColor : #101010;
$mainFontSize : 18px;
$mainFontWeight : 400;
$mainLineHeight : 1.4;

$desktopWidth : 1280px;
$smDesktopWidth : 980px;
$tableWidth : 768px;
$phoneWidth : 480px;
$smPhoneWidth : 320px;


//test vars for scss lassons
$bgColor: #fafafa;
$color: #cccccc;
$blockWidth: 300px;
$border: 4px solid red;
