@font-face {
  font-family: "Montserrat";
  src:
    url('/assets/fonts/montserrat/montserrat.ttf') format('truetype'),
    url('/assets/fonts/montserrat/montserrat.woff') format('woff'),
    url('/assets/fonts/montserrat/montserrat.woff2') format('woff2');
}

@font-face {
  font-family: "Montserrat-Light";
  src:
    url('/assets/fonts/montserrat/montserrat-light/montserratlight.ttf') format('truetype'),
    url('/assets/fonts/montserrat/montserrat-light/montserratlight.woff') format('woff'),
    url('/assets/fonts/montserrat/montserrat-light/montserratlight.woff2') format('woff2');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/iconfont/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src:
    local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('/assets/fonts/iconfont/MaterialIcons-Regular.woff2') format('woff2'),
    url('/assets/fonts/iconfont/MaterialIcons-Regular.woff') format('woff'),
    url('/assets/fonts/iconfont/MaterialIcons-Regular.ttf') format('truetype');
}
