@import "fonts";
@import "vars";
@import "mixins";

.formElements {
  margin-top: 3em;
  width: 100%;
  display: grid;
  grid-template-areas:
    ". forms buttons sliders .";
  grid-template-columns: 0.1fr 2fr 2fr 2fr 0.1fr;
  grid-column-gap: 10%;
//  grid-template-rows: 6em;
//  background-color: gray;

  .forms {
    grid-area: forms;
//    background-color: yellow;
  //  grid-row: 4/8;
  }

  .textForm {
    width: $formWidth;
    @include formHead;
    .formContent {
      display: grid;
      align-items: center;
      height: $formHeight;
      padding: 0 0 0 15px;
      @include formStyle;
      @include formContent($formColorGrey75);
    }
    margin-bottom: 20px;
  }

  .light {
    .textForm {
      .formContent {
        @include formContent($formColorGrey25);
      }
    }
  }

  @include formMenu;

  .mini {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
    .formMenu {
      width: $formWidthMini;
    }
  }

  .form75 {
    @include formMenu($_formWidth: $formWidth75);
  }

  .sub {
    @include formMenu($formColorGrey25, $colorGrad, $formWidth75)
  }

  @include dropCont;



  @include checkList;

  .checkContent {
    margin: 0% 0% 10% 0%;
    padding-left: 0%;
    @include checkItem;
  }

  @include addition;


  .buttons {
    grid-area: buttons;
//    background-color: orange;
  }

  .checkBox {
    @include checkList($_formWidth: $formWidth60)
  }

  .radioButtons {
    width: 240px;
    margin: 10% 0 10% 0;
    background-color: #ffffff;
    @include formHead;
    .radioItems {
      background-color: #ffffff;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 4%;
      margin: 16px 2% 2% 0%;
      @include radioItem;
    }
  }

  .toggleButtons {
    margin-top: 40px;
    background-color: white;
    @include formHead;
    .toggleItems {
      margin-top: 16px;
      display: grid;
      grid-row-gap: 20%;
      @include toggleItem;
    }
  }

  .likeButtons {
//    background-color: blue;
    margin: 40px 0 0 0;
    width: 6em;
    @include formHead;
    .likeItems {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 16px;
      @include likeItem;
    }
  }

  .rateButtons {
    margin-top: 40px;
    @include formHead;
    > .rateContent {
      margin: 16px 0 4% 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
//      background-color: blue;
      @include rateItem;
    }

  }

  .sliders {
    grid-area: sliders;
//    background-color: pink;


  }

  .rangeSliders {
    margin: 4% 0 4% 0;
    width: 266px;
    @include formHead;
    .sliderContent {
      margin: 4% 0 4% 0;
      @include slider;
    }
  }

  .btns {
    margin-top: 40px;
    @include formHead;
    > .buttonItems {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 80%;
      grid-row-gap: 1em;
      margin: 5% 0 5% 0;
      .button {
        @include btn;
      }
      .btnHov {
        @include btn;
        opacity: 0.5;
      }
      .btnBord {
        @include btn {
          @include btnDesc;
        }
      }
      .btnBordHov {
        @include btn {
          opacity: 0.5;
          @include btnDesc;
        }
      }
    }
  }

  .buttonsText {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    margin: 31px 0 0 0;
    text-transform: uppercase;
    .btnText {
      @include btnText;
    }
    .btnTextHov {
      @include btnText;
      color: $formColorGrey5;
    }
  }

  @include btnPay;

  .pagination {
    margin: 40px 0 0 0;
    display: grid;
//    grid-row-gap: 16px;
    @include formHead;
    @include pag;
    .comment {
      font-family: $formFont;
      font-size: $formContSize;
      color: $formColorGrey75;
      margin-top: 3%;
    }
  }

  .drop100 {
    @include dropCont($_formWidth: $formWidth);
  }

  .checkRich {
    width: $formWidth75;
    @include formHead;
    .richItems {
      margin-top: 16px;
      @include richItem;
    }
  }

  .bulletList {
    width: $formWidth75;
    @include formHead;
    display: grid;
    grid-row-gap: 20%;
    .bulletItems {
      display: grid;
      grid-row-gap: 20%;
      @include bulletItem
    }
  }


}

.blogElements {
  margin: 0 10% 0 10%;
  display: grid;
  grid-template-columns: 1fr 2fr;

  .forms {
    @include addition;
  }
  .blog {
    .blogItems {
      width: 730px;
      display: grid;
      grid-row-gap: 10%;
      @include blogItem;
      @include blogLikeItem;
    }
  }
}
