@mixin icon_style {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

@mixin gradColor($color) {
  background: $color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  display: table;
}

@mixin form_head {
  .headCont {
    display: grid;
    grid-template-areas:
      "title desc";
    > .title {
      grid-area: title;
      font-family: $formTitleFont;
      font-size: $formTitleSize;
      text-transform: uppercase;
      color: $formTitleColor;
//      background-color: green;
    }
    > .desc {
      grid-area: desc;
      text-align: right;
      font-family: $formFont;
      font-size: $formTitleSize;
      text-transform: uppercase;
      color: $formColorGrey5;
    }
  }
}

@mixin form_style {
  border: 1px solid $formColorGrey25;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #ffffff;
}

@mixin form_content($cont_color) {
  .content {
//    background-color: blue;
//    margin-bottom: 1%;
    > p {
      margin: 4% 0 4% 4%;
      color: $cont_color;
      font-family: $formFont;
      font-size: $formContSize;
    }
  }
}

@mixin form_menu($cont_color, $menu_color) {
  .content {
    display: grid;
    grid-template-areas:
      "cont menu";
    grid-template-columns: 5fr 1fr;
//    grid-template-rows: 2.6em;

    > .cont {
      grid-area: cont;
//      background-color: blue;
      align-self: center;
      color: $cont_color;
      font-family: $formFont;
      font-size: $formContSize;
      margin: 5% 0 5% 4%;
    }

    > .menu {
//      background-color: blue;
      grid-area: menu;
      font-family: "Material Icons";
      font-size: 150%;
      color: $menu_color;
      width: 1.6em;
      text-align: center;
      padding-top: 10%;
      justify-self: end;
    }
  }
}


@mixin drop($minusColor, $minusBorderColor) {
  .drop {
//    border-top: 1px solid blue;
    display: grid;
    grid-template-areas:
      "text butMinus but butPlus";
    grid-template-columns: 6fr 1fr 1fr 1fr;
    padding-right: 4%;
    > .text {
      grid-area: text;
      margin: 2% 0 2% 4%;
      font-family: $formTitleFont;
      font-size: $formContSize;
    }
    > .butMinus {
      grid-area: butMinus;
      align-self: center;
      justify-self: center;
      border: 1px solid $minusBorderColor;
      border-radius: 50%;
      color: $minusColor;
      width: 1.2em;
      height: 1.2em;
      text-align: center;
      > p {
        margin-top: -6%;
        font-weight: 900;
      }
    }
    > .but {
      grid-area: but;
      justify-self: center;
      align-self: center;
      color: #1F2041;
      font-family: $formTitleFont;
      font-size: $formTitleSize;
    }
    > .butPlus {
      grid-area: butPlus;
      align-self: center;
      justify-self: center;
      border: 1px solid $formColorGrey25;
      border-radius: 50%;
      color: $formColorGrey5;
      font-family: $formTitleFont;
      width: 1.2em;
      height: 1.2em;
      text-align: center;
      display: flex;
      justify-content: center;
//      align-items: center;
      > p {
//        background-color: blue;
        font-size: $formTitleSize;
  //      margin-top: -15%;
        font-weight: 400;
        align-self: center;
      }
    }
  }
}

@mixin decision {
  .decision {
//    background-color: green;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2% 0% 2% 0%;
    .clr {
      margin-left: 10%;
      font-family: $formTitleFont;
      color: $formColorGrey5;
    }
    .apply {
      margin-right: 10%;
      justify-self: end;
      font-family: $formTitleFont;
      color: $colorFontGrad;
    }
  }
}

@mixin checkList {
  .checkList {
    .formMenu {
      .contMenu {
        border-style: none;
        .content {
          .cont {
            font-size: $formTitleSize;
            font-family: $formTitleFont;
            color: $formTitleColor;
            margin-left: 0;
          }
        }
      }
    }
  }
}

@mixin checkItem {
  .checkItem {
  //      background-color: orange;
    display: grid;
    grid-template-columns: 0.8fr 6fr;
    align-items: start;
    margin: 3% 0 3% 0%;
    > .checkBox {
      border: 1px solid $formColorGrey25;
      border-radius: 20%;
      width: 1em;
      height: 1em;
    }
    > .checkText {
      > p {
        font-family: $formFont;
        font-size: $formContSize;
        color: $formColorGrey5;
        margin: 0;
      }
    }
    +.checked {
      > .checkBox {
  //          background-color: blue;
        border-color: $colorFontGrad;
        @include gradColor($colorGrad);
        text-align: center;
        > p {
  //          background-color: orange;
          font-family: "Material Icons";
          font-weight: 900;
          font-size: $formTitleSize;
          margin: 2px 0 0 0;
        }
      }
      > .checkText {
        > p {
          color: $colorFontGrad;
        }
      }
    }
  }
}

@mixin addition {
  .addition {
    > .addCont {
//      background-color: blue;
      display: grid;
      grid-template-columns: 1fr 5fr;
      margin: 2% 0 2% 0;
      > .icon {
        > p {
          font-family: "Material Icons";
          font-size: 300%;
          @include gradColor($colorGrad);
          margin: 0;
        }
      }
      > .text {
        font-style: none;
        align-self: center;
        > p {
          font-family: $formTitleFont;
          font-size: $formTitleSize;
          margin: 3% 0% 3% 2%;
        }
        > p.title {
          color: $formTitleColor;
          font-weight: 600;
        }
        > p.desc {
          color: $formColorGrey75;
          font-weight: 200;
        }
      }
    }
    > hr {
      border-top: 1px solid $formColorGrey1;
      margin: 0 0 10% 0;
    }
  }
}

@mixin radioItem {
  .radioItem {
    display: grid;
    grid-template-columns: 1fr 4fr;
    .btn {
      font-family: "Material Icons";
      font-size: 140%;
      color: $formColorGrey25;
      align-self: center;
    }
    .desc {
      font-family: $formFont;
      font-size: $formContSize;
      color: $formColorGrey5;
      align-self: center;
    }
  }
  .checked {
    .btn {
      @include gradColor($colorGrad);
    }
    .desc {
      color: $formColorGrey75;
    }
  }
}

@mixin toggleItem {
  .toggleItem {
    display: grid;
    grid-template-columns: 1fr 4fr;
    > .btn {
//      background-color: blue;
      width: 40px;
      height: 20px;
      border: 1px solid $formColorGrey25;
      border-radius: 10px;
      color: red;
      font-size: 70%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .round {
        width: 12px;
        height: 12px;
        background-color: $formColorGrey25;
        border-radius: 50%;
        margin-right: 10%;
      }
    }
    > .desc {
      font-family: $formFont;
      font-size: $formContSize;
      color: $formColorGrey75;
    }
  }
  >.checked {
    margin: 2% 0 2% 0;
    .btn {
      height: 20px;
      width: 40px;
      border: 1px solid $colorFontGrad;
      border-radius: 10px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .round {
        width: 12px;
        height: 12px;
        background: $colorGrad;
        margin-right: 10%;
        border-radius: 50%;
      }
    }
    .desc {
      font-family: $formFont;
      font-size: $formContSize;
      color: $formColorGrey75;
    }
  }
}

@mixin likeItem {
  .likeItem {
    margin: 30% 0 30% 0;
    width: 40px;
    height: 20px;
    border: 1px solid $formColorGrey25;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 3.5fr 5fr;
    justify-items: center;
    align-items: center;
    > .icon {
      font-family: "Material Icons";
      font-size: 12px;
      color: $formColorGrey25;
    }
    > .num {
      font-family: $formFont;
      font-size: 12px;
      color: $formColorGrey25;
    }
  }
  .liked {
    > .likeItem {
      border-color: $colorFontGrad;
      > .icon {
        @include gradColor($colorGrad);
      }
      > .num {
        @include gradColor($colorGrad);
      }
    }
  }
}

@mixin rateItem {
  .rateItem {
    .item {
      float: left;
      font-family: "Material Icons";
      font-size: 24px;
      @include gradColor($colorGrad);

    }
  }
}

@mixin slider {
  .slider {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    .line {
      grid-column: 1/4;
      grid-row: 1/2;
      height: 6px;
//        width: 266px;
      border: 1px solid $formColorGrey25;
      border-radius: 3px;
    }
    .round {
      grid-column: 2/3;
      grid-row: 1/2;
      height: 12px;
      width: 12px;
      border: 2px solid white;
      border-radius: 50%;
      background: $sliderColor;
      &.start {
        justify-self: start;
      }
      &.end {
        justify-self: end;
      }
    }
    .rangeLine {
      grid-column: 2/3;
      grid-row: 1/2;
      background: $sliderColor;
      width: 100%;
      height: 8px;
      border-radius: 3px;
    }
  }
}

@mixin button {
  .button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .dark {
      height: 44px;
      width: 99px;
      border-radius: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $buttonColorDark;
      color: white;
      text-transform: uppercase;
      font-family: $formFont;
      font-size: $formContSize;
    }
    .light {

    }
    .borderDark {

    }
    .borderLight {

    }
  }
}
