$formColorGrey75: rgba(31, 32, 65, 0.75);
$formColorGrey5: rgba(31, 32, 65, 0.5);
$formColorGrey25: rgba(31, 32, 65, 0.25);
$formColorGrey1: rgba(31, 32, 65, 0.1);
$formTitleColor: #1f2041;
$formContSize: 14px;
$formTitleSize: 12px;
$formFont: "Montserrat-Regular", serif;
$formTitleFont: "Montserrat-Bold", serif;
$formIconFont: "Material Icons";
$colorGrad: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$colorFontGrad: #bc9cff;
$sliderColor: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
$btnColor: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$btnTextColor: #BC9CFF;
$formWidth: 320px;
$formWidth75: 266px;
$formWidth60: 230px;
$formWidthMini: 150px;
$formHeight: 44px;
