$formColorGrey75: rgba(31, 32, 65, 0.75);
$formColorGrey5: rgba(31, 32, 65, 0.5);
$formColorGrey25: rgba(31, 32, 65, 0.25);
$formColorGrey1: rgba(31, 32, 65, 0.1);
$formTitleColor: #1f2041;
$formContSize: 18px;
$formTitleSize: 14px;
$formFont: "Montserrat-Light", serif;
$formTitleFont: "Montserrat", serif;
$colorGrad: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$colorFontGrad: #bc9cff;
$sliderColor: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
$buttonColorDark: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
