$formColorGrey75: rgba(31, 32, 65, 0.75);
$formColorGrey5: rgba(31, 32, 65, 0.5);
$formColorGrey25: rgba(31, 32, 65, 0.25);
$formColorGrey1: rgba(31, 32, 65, 0.1);
$formTitleColor: #1f2041;
$formContSize: 90%;
$formTitleSize: 80%;
$formFont: "Montserrat-Light", serif;
$formTitleFont: "Montserrat", serif;
$colorGrad: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$colorFontGrad: #bc9cff;
