include ../utils/mixins

doctype html
html(lang='ru')
  head
    block metatags
      include ../includes/modules/metatags
    block title
      title #{title}
    block links
      link(href='#')
    block head
  body(class=pageClass)
    .wrapper
      include ../includes/modules/header2
      .content-wrapper
        block content
      include ../includes/modules/footer2
        //-#app
    block script
