block variables

doctype html
html(lang='ru')
  head
    block metatags
      include ../includes/modules/metatags
    title #{title}
    block links
      link(href='#')
    block head
  body
    .wrapper      
      include ../includes/modules/header
      block content
      include ../includes/modules/footer

    
